/20 - UI - Tablas/build/
/20 - UI - Tablas/nbproject/private/
/17 - Base Datos MySQL/BaseDatos/build/
/17 - Base Datos MySQL/BaseDatos/nbproject/private/
/21_ Base Datos MySQL/BaseDatos/build/
/21_ Base Datos MySQL/BaseDatos/nbproject/private/
/22_ Cambio Contenedores/CambioContenedores/nbproject/private/
/22_ Cambio Contenedores/CambioContenedores/build/
/23_uso_de_APIs/consumoApi/nbproject/private/
/23_uso_de_APIs/consumoApi/build/
/23_uso_de_APIs/consumoApi/dist/
/23_uso_de_APIs/POKEDEX/nbproject/private/
/23_uso_de_APIs/4_consumoApi/nbproject/private/
/23_uso_de_APIs/4_consumoApi/build/
/23_uso_de_APIs/POKEDEX/build/
/23_uso_de_APIs/POKEMON/nbproject/private/
/22 - PokeDexV2/build/
/22 - PokeDexV2/nbproject/private/
/24 - PokeDexV2/build/
/24 - PokeDexV2/nbproject/private/
/24 _ PokeDexV2/build/
/24 _ PokeDexV2/nbproject/private/
/23_uso_de_APIs/DIGIMON/nbproject/private/
/23_uso_de_APIs/DIGIMON/build/
/23_uso_de_APIs/6_DIGIMON/nbproject/private/
/23_uso_de_APIs/6_DIGIMON/build/
